<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- typeof title !== 'undefined' ? title: 'No Title' %></title>
    <link rel="stylesheet" type="text/css" href="/styles/core.css" />
    <%- style.replace(/(\.css)/g, '.css?v=' + version) %>
    <script src="/scripts/core.js"></script>
  </head>
  <body>
    <%- body -%>
    <%- script.replace(/(\.js)/g, '.js?v=' + version) %>
  </body>
</html>

